<!DOCTYPE html>
<html>

<head>
  <script src="static/js/jquery.js"></script>
  <script src="static/js/lodash.js"></script>
  <script src="static/js/backbone.js"></script>
  <script src="static/js/backbone.marionette.js"></script>

  <link rel="stylesheet" href="static/jqui/jquery-ui.min.css">
  <script src="static/jqui/jquery-ui.min.js"></script>
  <!--link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"-->
  <!--<link rel="stylesheet" href="static/test/board.css">-->
</head>

<body>
  <!-- page content -->
  <div id="head-reg"></div>
  <div id="name-reg"></div>
  <table border="1" padding="0"><tr>
      <td>
        <div id="charsheet-reg"></div>
      </td>
      <td>
        <div id="chat-reg"></div>
      </td>
    </tr>
    <tr>
      <td>
	<div id="new-stat"></div>
      </td>
    </tr>
  </table>

  <!-- script templates -->
  <script type="text/template" id="chat-template">
    <div id="chatcontainer">
      <div id="chatmain">
      </div>
      <div id="chatinput">
        <button id="chatsendbutton">Send</button>
        <span id="chatinputspan">
          <input id="chattext" type="text"></input>
        </span>
      </div>
    </div>
  </script>

  <script type="text/template" id="name-template">
    <div id="namedisplay">
      &gt;&gt; Speaking as <%= name %>
    </div>
    <div id="nameinput">
      <span id="nameinputspan">
        <input id="nametext" type="text"></input>
      </span>
      <button id="namesetbutton">Set</button>
    </div>
  </script>

  <script type="text/template" id="head-template">
    test channel
  </script>

  <script type="text/template" id="charsheet-template">
    <div id="statdisplay">
      <%= showStats() %>
    </div>
  </script>
  
  <script type="text/template" id="new-stat-template">
    <div id="newstat">
      <input type="text" id="name"></input>
      <input type="text" id="formula"></input>
      <input type="button" id="submit"></input>
    </div>
  </script>
  
  <!-- page scripts -->
  <script src="static/evaluator.js"></script>
  <script src="static/strformat.js"></script>
  <script src="static/chat.js"></script>
  <script src="static/charsheet.js"></script>
  <!--
  -->
</body>
</html>
