{% extends "layout.html" %}

{% block head %}
<script>
  var SHEET_ID = {{sheetid}};
</script>

<script src="/static/js/lodash.js"></script>
<script src="/static/js/backbone.js"></script>
<script src="/static/js/backbone.marionette.js"></script>

<link rel="stylesheet" href="/static/jqui/jquery-ui.min.css">
<script src="/static/jqui/jquery-ui.min.js"></script>
{% endblock %}
  
{% block body %}

<!-- page content -->
<div id="head-reg"></div><br>
<div id="charsheet-reg"></div><br>
<div id="new-stat"></div><br>


<!-- script templates -->
<script type="text/template" id="charsheet-template">
  <div id="statdisplay"></div>
</script>

<script type="text/template" id="stat-template">
  <%= name %>: <span class="statspan" id="<%= name %>" title=""> <%= finalval %></span>
</script>

<script type="text/template" id="head-template">
  This sheet belongs to <%= name %>.
</script>

<script type="text/template" id="new-stat-template">
  <div id="newstat">
    <input type="text" id="name"></input>
    <input type="text" id="formula"></input>
    <input type="button" id="submit"></input>
  </div>
</script>

<!-- page scripts -->
<script src="/static/evaluator.js"></script>
<script src="/static/strformat.js"></script>
<script src="/static/charsheet.js"></script>
<!---->
{% endblock %}
